form{
    width: 380px;
    height: 485px;
    border: 1px solid black ;
    border-radius: 1%;
    padding: 0 15px 0 15px;
}

.logocon{
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 15px;
    color: #C1C1C1;
}

.icon{
    width:117px;
    height:40px;
}

.maincon{
    margin: auto;
    width: 354px;
    height: 356px;
    background-color: #D8D8D8;
    border-right: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    box-shadow:0 2px 5px #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.avatar{
    width: 97px;
    height: 97px;
    border-radius: 50%;
    margin : 10px 0 10px 0;
    display: block;
}

input[type="text"],input[type="password"]{
    width: 270px;
    height: 40px;
    border: 2px solid #5193F2;
    padding: 12px, 20px;
    display: inline-block;
    box-sizing: border-box;
}

.checkboxcon{
    font-size: 12px;
    font: bolder;
}

input[type="submit"]{
    width: 270px;
    height: 40px;
    color: white;
    background-color: #5193F2;
    border: 2px solid #5193F2;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

.maincon.nav{
    text-align: left;
}

a{
    text-decoration: none;
    cursor: pointer;
    color : #5193F2;
    font-size: 12px;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}